API__TITLE="Forms API"
API__DESCRIPTION="API для управления формами"
API__VERSION=1.0.0
API__CONTACT_NAME="Grigoriy Miroshnichenko"
API__CONTACT_EMAIL=st.pt01@mail.ru
API__CONTACT_URL=https://github.com/mirr218

DATABASE__POSTGRES_HOST=postgres
DATABASE__POSTGRES_PORT=5432
DATABASE__POSTGRES_USER=postgres
DATABASE__POSTGRES_PASSWORD=postgres
DATABASE__POSTGRES_DB=forms_db

SECURITY__JWT_SECRET_KEY=change-in-production
SECURITY__JWT_ALGORITHM=HS256
SECURITY__JWT_EXPIRE_MINUTES=30

CORS__ORIGINS=http://localhost:3000,http://localhost:8000